{% extends 'main/layout.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    <!-- <h1>Главная страница</h1>
    <p>Главная страница</p> -->

    <div class="features">
        <h1>Main page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam porro amet autem, officia odit sequi perspiciatis hic sint sapiente sunt quas labore magni? Temporibus aperiam voluptate necessitatibus labore beatae exercitationem.</p>
        <button class="btn btn-warning">Just a button</button>
    </div>
{% endblock %}
